body{
    display: flex;
    height: 450px;
    justify-content: center;
    background: linear-gradient(to right,#929aa3,#b4753a);
}

form{
    background: #53be7c;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}

form.gupo{
    position: relative;
    margin: 55px;
}

form.boton{
    text-align: center;
}