body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#69557c,#417e7e);
}

h1 {
    text-align: center;
}

.form {
    background: #f4f3f5;
    border-radius: 10px;
    padding: 20px;
}

#form {
    margin: 0;
}

#boton {
    display: block;
    margin: 0 auto;
    background-color: #2f0657; ;
    border: 2px solid #2cc5a6;
    color: aliceblue;
    border-radius: 10px;
}

