body {
    padding: 0px;
    margin: 0px;
    justify-content: center;
    background-color: #f0f0f0; 
}

nav {
    background-color: #4CAF50; 
    padding: 7px;
}

form {
    background: #3498db; 
    margin: 20px;
    border-radius: 10px;
}

.grup {
    position: relative;
    display: flex;
    margin: 55px;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

.agregar {
    text-align:right;
}

.grup label {
    width: 100px;
    text-align: left;
}

.grup input,
.grup textarea {
    width: calc(100% - 110px);
    border: 2px solid #2ecc71;
}

footer {
    padding: 20px;;
    display: flex;
    background-color: #4CAF50; 
}
