body{
    display: flex;
    height: 450px;
    justify-content: center;
    background: linear-gradient(to right,#4f9bf1,#0d2569);
}

form{
    background: #ffffff;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}

form.gupo{
    position: relative;
    margin: 55px;
}

#boton{
    text-align: center;
    color: rgb(7, 7, 7);
    background-color: rgb(173, 173, 177);
}