body{
    display: flex;
    height: 450px;
    justify-content: center;
    background: linear-gradient(to right,#c26cac,#00ffff);
}
h1{
    text-align: center;
}
form{
    background: #cdb6e4;
    margin: auto;
    border-radius: 10px;
}

form.gupo{
    position: relative;
    margin: 65px;
}

form.boton{
    text-align: center;
}

