body{
    display: flex;
    height: 450px;
    justify-content: center;
    background: linear-gradient(to right,#8a2be2,#00ffff);
}
h1{
    text-align: center;
}
form{
    background: #f4f3f5;
    margin: auto;
    border-radius: 10px;
}

form.gupo{
    position: relative;
    margin: 55px;
}

form.boton{
    text-align: center;
}

