body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    background: linear-gradient(to right, #b4a51e, #1067ca);
}

form {
    width: calc(100% + 20%); 
    max-width: 600px; 
    background: #f4f3f5;
    margin: auto;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: column;
}
form.gupo{
    position: relative;
    margin: 55px;
}

form.boton{
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: linear-gradient(to right, #b4a51e, #1067ca);
}
form {
    max-width: 600px; 
    background: #f4f3f5;
    margin: auto;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: column; 
}

.grupo {
    margin-bottom: 20px; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px; 
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
}

button:hover {
    background-color: #0056b3;
}
